.tiny-editor--header {
    display: none;
}

.live-editor {
    bottom: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
	position: absolute;
    border: 2px solid #CCC;
}

.live-editor>div {
    bottom: 0;
    width: 100%;
	height: 100%;
    background: #FFF;
    position: absolute;
}

.code-painel-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.code-painel {
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    position: absolute !important;
}

.code-painel .well {
    margin: 0;
}

.code-painel-buttons {
    top: 200px;
    right: 20px;
    position: absolute;
}

.nav-tabs {
    z-index: 10;
    background: #FFF;
    position: relative;
}

/* Loading Spinner */

.spinner-container {
    top: 50%;
    left: 50%;
    color: #CCC;
    font-size: 24px;
    position: absolute;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}